[Unit]
Description=GNOME Display Manager
Conflicts=getty@tty1.service plymouth-quit.service
After=systemd-user-sessions.service getty@tty1.service plymouth-quit.service systemd-logind.service

[Service]
ExecStart=/usr/bin/gdm
KillMode=mixed
Restart=always
RestartSec=1s
IgnoreSIGPIPE=no
BusName=org.freedesktop.DisplayManager
StandardError=inherit
EnvironmentFile=-/etc/locale.conf
EnvironmentFile=-/etc/gdm/custom.conf

[Install]
Alias=display-manager.service
