[Unit]
Description=Stage the latest AcreetionOS Horizon image
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/horizon-image-update stage
